@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/);
    src: local(''),
    url('../fonts/Indie_Flower/IndieFlower-Regular.ttf')
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/);
    src: local(''),
    url('../fonts/Ubuntu/Ubuntu-Regular.ttf'),
    url('../fonts/Ubuntu/Ubuntu-Medium.ttf'),
    url('../fonts/Ubuntu/Ubuntu-Bold.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5ebe0;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #877c7c;
    font-size: 5rem;
}

h2 {
    color: #877c7c;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

h2 span {
    font-family: 'Indie Flower';
    color: #877c7c;
    font-size: 3rem;
}

/* -- NAV BAR -- */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 3rem;
}

.navbar img {
    transition: 0.3s;
}

.navbar img:hover {
    transform: rotate(15deg);
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    padding: 0 1rem;
}

ul li a {
   text-decoration: none;
   color: #877c7c;
   font-family: 'Indie Flower';
   font-size: 1.5rem;
}

ul li a:hover {
    border-bottom: 1px dashed #877c7c;
}

/* -- HERO SECTION -- */
.hero {
    width: 100%;
    height: 70vh;
    padding: 0 4rem;
    display: flex;
    align-items: center;
}

.hero-content .contact {
    color: #877c7c;
    text-decoration: none;
    border: 2px solid #877c7c;
    border-radius: 10px;
    padding: 1rem 2rem;
    transition: 0.3s;
}

.hero-content .contact:hover {
    color: #f5ebe0;
    background-color: #877c7c;
    text-decoration: none;
    border-radius: 10px;
    padding: 1rem 2rem;
}