* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg_sec1.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

h1 {
    color: #fff;
    position: absolute;
    top: 30%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem 0 3rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    position: relative;
    height: 100vh;
}

main img {
    width: 60px;
    height: auto;
    position: absolute;
    bottom: 1rem;
}